class {
    clickDelete() {
        this.emit('update', '');
    }

    clickSign(sign) {
        var formula = this.input.formula;
        const previousResult = eval(formula);
        const result = sign !== "=" ? previousResult + sign : previousResult;
        this.emit('update', result);
    }

    clickNumber(value) {
        const result = this.input.formula + value;
        this.emit('update', result);
    }
}

style {
    .rows {
        width:300px;
        margin-top:10px;
    }

    .rows.first {
        margin-bottom: 20px;
        position: relative;
        top:10px;
    }

    .btn {
        width: 50px;
        height: 50px;
        background:#000;
        color:#fff;
        font-size:26px;
        cursor:pointer;
        outline:none;
        border-bottom:3px solid #333;
        margin-left: 10px;
        border-radius: 4px;
    }

    .btn.first-child {
        margin-left: 25px;
    }

    .btn.delete {
        width: 110px;
        background: #24b4de;
        border-bottom: 3px solid #399cb9;
    }

    .btn.num.zero {
        width: 110px;
    }

    .btn.operator {
        background: #333;
        border-bottom: 3px solid #555;
    }

    .btn.eql {
        background: #17a928;
        border-bottom: 3px solid #1f7a29;
    }
}

<macro number(value, className)>
    <button.btn.num class=className on-click('clickNumber', value)>
        ${value}
    </button>
</macro>

<div id="main">
    <div.rows.first>
        <button.btn.delete.first-child on-click('clickDelete')>
            Del
        </button>
        <button.btn.operator on-click('clickSign', '%')>
            %
        </button>
        <button.btn.operator.plus on-click('clickSign', '+')>
            +
        </button>
    </div>

    <div.rows>
        <number(7, 'first-child')/>
        <number(8)/>
        <number(9)/>
        <button.btn.operator on-click('clickSign', '-')>
            -
        </button>
    </div>

    <div.rows>
        <number(4, 'first-child')/>
        <number(5)/>
        <number(6)/>
        <button.btn.operator on-click('clickSign', '*')>
            ×
        </button>
    </div>

    <div.rows>
        <number(1, 'first-child')/>
        <number(2)/>
        <number(3)/>
        <button.btn.operator on-click('clickSign', '/')>
            ÷
        </button>
    </div>

    <div.rows>
        <number(0, 'zero first-child')/>
        <button.btn.num on-click('clickNumber', '.', 'period')>
            .
        </button>
        <button.btn.operator.eql on-click('clickSign', '=')>
            =
        </button>
    </div>
</div>
